*{
 font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

/* header */
h1 {
display:flex ;
justify-content: center;
align-items: center;
color: black;
height: 70px;
width: 100%;
box-shadow: 0 3px 15px rgba(0,0,0,.590);
font-family: 'Shrikhand', cursive;
font-style: italic;
margin: 3px 0px;
}

/** partie location **/

.location {
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
   align-items: center;
}
.location i {
    margin-right: 5px;
}
.location p {
    
    font-weight: 500;
    font-size: larger ;
}

/* partie reservation*/

.conteneur-lien-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f6f6f6;
    margin: 0;
    padding: 20px 10px 60px;
}
.titre-lien-menu {
    font-weight: 500;
    font-size: xx-large;
    margin-bottom: 10px;
}

.texte-lien-menu{
    font-size: large;
    font-weight: 300;
    margin: 10px 0px 40px ;
}

.button-lien-restaurant{
    color: white;
    width: 50%;
    text-decoration: none;
    background: linear-gradient(to bottom, #FF79DA,#9356DC );
    padding: 15px;
    border-radius: 30px;
    transition-duration: 400ms;
    }
    .button-lien-restaurant:hover {
        transition: all 400ms ease-in-out;
        box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.25);
        opacity: 0.8;

    }


/* partie fonctionnement*/

.conteneur-fonctionnement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
}

.conteneur-fonctionnement h2{
    align-self: flex-start;
    width: 50%;
}

.Fonctionnement-etape{
    background-color: #f6f6f6;
    border-radius: 20px;
    padding: 5px 25px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,.2);
    width: 80%;
    text-align: center;
    font-weight: 600;   
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

.number{
    position: absolute;
    top: 35%;
    left: -5px;
    width: 20px;
    height: 20px;
    background-color:#9356DC;
    border-radius: 100%;
    color: white;
    font-size: small;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* partie restaurant */

.conteneur-restaurant{
    background-color: #f6f6f6;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.restaurant{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    position: relative;
}

.restaurant span{
    position: absolute;
    right: 10px;
    top: 15px;
    padding: 5px 10px;
    background-color: #99E2D0;
    color: #008766 ;
    z-index: 1;
}

.restaurant-content{
    background-color: white;
    border-radius: 0px 0px 20px 20px; 
    padding: 10px 10px 5px 20px;
}

.restaurant-content h3{
    margin: 0px;
}
.restaurant-content p {
    margin-top: 5px;
}

article img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    
}

/* Partie Footer */

footer {
    background-color: #353535;
    color: white;
    padding: 20px 40px;
}

footer h2 {
    font-family: 'Shrikhand', cursive;
    font-style: italic;
    font-weight: 400;
}

.footer-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}


/**** Page La palette du gout****/

.main-page1{
    background-color: #f6f6f6;
}
.header-page{
    position: relative;
}
.header-back{
    position: absolute;
    top: 25px;
    left: 30px;
}

.title-page1{
    box-shadow: none;
}

.image-page1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-page3{
    width: 100%;
    height: 230px;
    object-fit: cover; 
}

/* partie main */

.conteneur-main-page1{
 display: flex;
 flex-direction: column;
 justify-content: center;
 position: relative;
 top: -40px;
 background-color:#f6f6f6;
 border-radius: 20px 20px 0px 0px;
}
.conteneur-main-page1 p {
    margin: 0px;
}
.conteneur-main-page1 h4 {
    margin: 0px;
}
.titre-page1{
    font-family: 'Shrikhand', cursive;
    font-size:28px;
    font-weight: 400;
    font-style: italic; 
    padding: 20px;
    margin: 0px;
}

/* partie entrée */

.entrées-conteneur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
    width: 100%;
    position: relative;
}


.titre-entrées-page1{
    font-weight: 100;
   align-self: flex-start;
   padding: 10px 15px;
   margin: 0px;
    text-transform: uppercase;
}

.ligne-entrées-page1{
    border-bottom: 3px solid #99E2D0;
    width: 45px;
    position: absolute;
    top: 35px;
    left: 15px;
}

.entrées-page1{
background-color: white;
width: 85%;
border-radius: 15px;
padding: 15px;
box-shadow: 0px 4px 15px rgba(0,0,0,.2);
text-align: start;
}

.rangement-page1{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    align-items: flex-end;
}

.prix-page1{
    font-weight: 700;
}

/* partie plats */

.plats-conteneur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
    width: 100%;
    position: relative;
}
.titre-plats-page1 {
    font-weight: 100;
   align-self: flex-start;
   padding: 10px 15px;
   margin: 0px;
   text-transform: uppercase;
}

.ligne-plats-page1{
    border-bottom: 3px solid #99E2D0;
    width: 45px;
    position: absolute;
    top: 35px;
    left: 15px;
}

.plats-page1 {
    background-color: white;
    width: 85%;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 4px 15px rgba(0,0,0,.2);
    text-align: start;
}

/* partie dessert */

.desserts-conteneur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    position: relative;
}

.titre-desserts-page1{
    font-weight: 100;
   align-self: flex-start;
   padding: 10px 15px;
   margin: 0px;
   text-transform: uppercase;
}
.ligne-desserts-page1{
    border-bottom: 3px solid #99E2D0;
    width: 45px;
    position: absolute;
    top: 35px;
    left: 15px;
}

.desserts-page1{
    background-color: white;
    width: 85%;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 4px 15px rgba(0,0,0,.2);
    text-align: start;
}

/* partie boutton page1 */

.button-page1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px 0px 20px;
}


.button-commander-page1{
    color: white;
    width: 50%;
    text-decoration: none;
    background: linear-gradient(to bottom, #FF79DA,#9356DC );
    padding: 15px;
    border-radius: 30px;
    text-align: center;
    transition-duration: 400ms;
}

.button-commander-page1:hover {
    transition: all 400ms ease-in-out;
    box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.25);
    opacity: 0.8;
}

/*** Partie media queries tablette***/

@media screen and (min-width: 768px) {
body{
    width: 1024px;
}
h1 {
    height: 90px;
    box-shadow: none;
}

.titre-lien-menu{
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
}

.button-lien-restaurant{
    width: 20%;
}

.conteneur-fonctionnement{
    display: flex;
    flex-direction:column;
    padding: 80px;
}

.media-rangement-fonctionnement{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}

.Fonctionnement-etape{
    width: 220px;
    height: 60px;
    justify-content: flex-start;
}
.Fonctionnement-etape p{
    font-size: larger;
}
.number{
    left: -9px;
}

/** main **/
.conteneur-restaurant{
    padding: 80px;
}
.conteneur-restaurant h2{
    align-self: flex-start;
}

.media-rangement-restaurant{
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 60px;

}

.restaurant {
    width: 100%;
}
.restaurant img{
    width: 100%;
}

/*** footer***/

footer{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 80px;
}
footer h2{
    margin-bottom: 0px;
    font-size: medium;
    
}

.footer-text {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 15px;
}

.footer-text p{
margin-bottom: 0px;
}

}



/**** media queries desktop ****/


@media screen and (min-width:1024px){
    body{
      
        width: 1440px;
    }

.conteneur-fonctionnement {
  padding-left: 230px;
}



.Fonctionnement-etape{
    width: 250px;
}

.conteneur-restaurant h2 {
    padding-left: 160px;
}
.media-rangement-restaurant{
    grid-template-columns: 450px 450px;
}
footer h2 {
    width: 200px;
}

}